/*
https://scoutsbrand.org.uk/catalogue/item/digital-style-guide
Scout Purple    #7413DC
Scout Teal      #00A794
Black           #000000
Dark Grey       #707070
Light Grey      #F5F5F5
White           #FFFFFF
Beavers         #006CDF
Cubs            #23A956
Scouts          #003A44

*/
html {
      scroll-behavior: smooth;
    }

body {
    margin: 0;
    font-size: 19px;
    font-family: "Nunito Sans", sans-serif;
}
h1 {
    font-size: 40px;
    color: #7413dc;
}
h2 {
    font-size: 30px;
}

a {
    color: #7413dc;
    
    text-decoration: none;
}
a:hover {
    color: #460e83;
}
a:active,
a:focus {
    background: orange;
}


                        table {
                            width: 100%;  
                            border-spacing: 0; 
                        }
                        td,
                        th {
                            padding: 0.5em;
                            
                        }
                        tr td {
                            border-top: 1px solid #ccc;   
                        }

dd {
	padding: 1.25em 0 0.5em 0;
	margin: -2.60em 0 0 170px;
	min-height: 1.5em;
}


main {
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

footer {
    text-align: center;
    font-size: 14px;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}



#HeaderInner {
    display: flex;
    width: 1020px;    
    margin: 10px auto;
}
#MenuWrapper {
    align-self: flex-end;
}


#MainHeader #Logo {
  width: 220px;
}
#MainHeader #Logo img {
    height: 100px;
}

    #ToggleMenu {
        display: none;
    }

#HeaderInner nav {
    flex: 1;
}
#HeaderInner nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 10px 10px;
    padding: 0;
    list-style: none;
}
#HeaderInner nav ul li {
    margin: 0;
    padding: 0;
}
#HeaderInner nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

#SocialFooter {    
    max-width: 1020px;
    margin: 0 auto;
    padding: 0px 20px;
    background: #00A794;
    color: #fff;
    text-align: center;
}

#MainFooter {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px 20px;
    background: #7413DC;
    color: #fff;
}
#FooterLogo {
    text-align: center;
}
#FooterLogo img {
    width: 100px;
}

.Hero {
    min-height: 565px;
    background-image: url(../images/cubs.jpg);
    background-size: 50%;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #7413DC;
    color: #fff;
}
.Hero h1 {
    color: #fff;
}
.Hero.Volunteer{
    background-image: url(../images/leader.jpg);

}
.Hero .Text{
    overflow: hidden;
    padding: 0 50px;
    box-sizing: border-box;
    width: 50%;
    font-size: 2em;
}
.Hero .Text p {
    margin: 50px 0;
}


.SectionCards {
    display: flex;
    margin-bottom: 0;
    padding: 0; 
    list-style: none;
}

.SectionCards li {
    margin: 0;
    padding: 0;
    text-align: center;
}

.SectionCards .SectionLogo {
    height: 40px;
}


.SectionCards a { 
    display: block;
    padding: 1.5em 0;
    background-color: #ccc;    
    color: #fff;
}

.SectionCards .Beavers a.Active,
.SectionCards .Beavers a:hover,
.SectionCards .Beavers a:active {
    background-color: #006CDF;
}

.SectionCards .Cubs a.Active,
.SectionCards .Cubs a:hover,
.SectionCards .Cubs a:active  {
    background-color: #23A956;
}

.SectionCards .Scouts a.Active,
.SectionCards .Scouts a:hover,
.SectionCards .Scouts a:active  {
    background-color: #003A44;
}

/* TODO: Explorers, Network */

.SectionCards.ThreeColumn li {
    width: 33.33%;
}

.SectionCards.FourColumn li {
    width: 25%;    
}

.SectionCards.FiveColumn li {
    width: 20%;
}


.SectionInformation {
    border-width: 3px;
    border-style: solid;
    padding: 0 25px 25px 25px;
}

.SectionInformation.Beavers  {
    border-color: #006CDF;
}

.SectionInformation.Cubs  {
    border-color: #23A956;
}

.SectionInformation.Scouts {
    border-color: #003A44;
}

/* TODO: Explorers, Network */

    .SectionList dt {
        display: block;
        font-weight: bold;
        margin: 1em 0 0.5em 0;
        padding: 0;
    }
    .SectionList dd {
        display: block;
        margin: 0.25em 0;
        padding: 0;

    }

.CallOut {
    padding-left: 10px;
    border-left: 1px solid #00A794;
}

.MapHeader.Hq {
    background-image: url(../images/map_hq.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
        
}

.MapHeader.Pegswood {
    background-image: url(../images/map_pegswood.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
        
}

.MapHeaderInner {
    width: 40%;
    background: #fff;
    overflow: hidden;
    padding: 0 1em;
}


@media screen and (max-width: 1020px) {
    
    #HeaderInner {
        width: auto;
        display: block;
    }
    
    #HeaderInner nav ul {
        justify-content: flex-start;
    }
    
    .Hero .Text{
        font-size: 1.5em;
        padding: 0 25px;
    }
    
    .Hero .Text p {
        margin: 25px 0;
    }

}

@media screen and (max-width: 860px) {
    .SectionCards {
        font-size: 0.85em;
    }
}

@media screen and (max-width: 800px) {
    .Hero {
        background-size: cover;
        position: relative;
    }
    .Hero .Text{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 15px;
        background-color: inherit;
        opacity: 0.8;
    }
}

@media screen and (max-width: 700px) {
    .SectionCards ul {
        display: block;   
    }
    .SectionCards ul li {
        width: auto;
        margin: 15px 0;
    }
    .SectionCards ul li a {
        min-height: auto;
    }
}
@media screen and (max-width: 650px) {
    #HeaderInner nav ul {
        font-size: 0.8em;
    }
    
    .Hero .Text{
        padding: 0 15px;
    }
    .Hero .Text p {
        margin: 15px 0;
    }
}

@media screen and (max-width: 550px) {
    
    main {
        padding: 0 10px;
    }
    
    .Hero {
        min-height: 300px;
        background-position: bottom right;
    }
    
    .Hero.Volunteer{
        background-position: center right;
    }
    
    .Hero .Text{
        font-size: 1em;
    }
    
    #HeaderInner {
        position: relative;
        width: auto;
        display: flex;
    }
    #HeaderInner #Logo {
        align-self: center;
        width: 50%;
    }
    
        #HeaderInner #Logo img {
            height: 60px;
        }
    #MenuWrapper {
        width: 50%;
        position: relative;
        align-self: auto;
        padding: 10px 10px 0 0;
    }
    #MenuWrapper nav {
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 1;
        background-color: aliceblue;
    }
    
    #HeaderInner nav ul {
        display: block;
        margin-bottom: 0;
        font-size: 1em;
    }
    #HeaderInner nav ul li a {
        display: block;
        border: 1px solid;
    }
    #ToggleMenu {
        text-align: right;
    }
    #ShowMenu,
    #HideMenu {  
        position: relative;  
        display: inline-block;
        padding: 10px 30px 10px 10px;
        text-decoration: none;
        background-image: url(../Images/icon-compass.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 26px;
    }
    #HideMenu {
        background-image: url(../Images/icon-cancel.png);
    }
    /*#ShowMenu:before,
    #HideMenu:before {
        content: "";
        position: absolute;
        top: 15px;
        right: 10px;
        width: 10px;
        height: 10px;
        border: solid #7413DC;
        border-width: 0 0 2px 2px;
        opacity: 1;
        transform: rotate(-45deg);
        text-decoration: none;
    }*/
    #HideMenu:before {        
        
        top: 20px;
        
        border-width: 2px 2px 0 0;     
    }
    

    #ToggleMenu {
        display: block;
    }
    
    .ShowTheMenu #MainMenu {
        display: block;
    }
    .ShowTheMenu #HideMenu {
        display: inline-block;
    }
    .ShowTheMenu #ShowMenu {
        display: none;
    }
    
    .HideTheMenu #MainMenu {
        display: none;
    }
    .HideTheMenu #HideMenu {
        display: none;
    }
    .HideTheMenu #ShowMenu {
        display: inline-block;
    }
    
}
