/*
https://scoutsbrand.org.uk/catalogue/item/digital-style-guide
Scout Purple    #7413DC
Scout Teal      #00A794
Black           #000000
Dark Grey       #707070
Light Grey      #F5F5F5
White           #FFFFFF*/
 html {
      scroll-behavior: smooth;
    }
body {
    margin: 0;
    font-size: 19px;
    font-family: "Nunito Sans", sans-serif;
}
h1 {
    font-size: 40px;
    color: #7413dc;
}
h2 {
    font-size: 30px;
}
footer {
    font-size: 14px;
}

a {
    color: #7413dc;
}
a:hover,
a:focus {
    color: #460e83;
}
a:active {
    background: orange;
}


main {
    position: relative;
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

#HeaderInner {
    display: flex;
    width: 1020px;    
    margin: 10px auto;
}
#MenuWrapper {
    align-self: flex-end;
}


#MainHeader #Logo {
  width: 220px;
}
#MainHeader #Logo img {
    height: 100px;
}

    #ToggleMenu {
        display: none;
    }

#HeaderInner nav {
    flex: 1;
}
#HeaderInner nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 0 10px 10px 10px;
    padding: 0;
    list-style: none;
}
#HeaderInner nav ul li {
    margin: 0;
    padding: 0;
}
#HeaderInner nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

#SocialFooter {    
    max-width: 1020px;
    margin: 0 auto;
    padding: 0px 20px;
    background: #00A794;
    color: #fff;
    text-align: center;
}

#MainFooter {
    max-width: 1020px;
    margin: 0 auto;
    padding: 20px 20px;
    background: #7413DC;
    color: #fff;
}
#FooterLogo {
    text-align: center;
}
#FooterLogo img {
    width: 100px;
}

.Hero {
    min-height: 565px;
    background-image: url(../Images/cubs.jpg);
    background-size: 50%;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #7413DC;
    color: #fff;
}
.Hero h1 {
    color: #fff;
}
.Hero.Volunteer{
    background-image: url(../Images/leader.jpg);

}
.Hero .Text{
    overflow: hidden;
    padding: 0 50px;
    box-sizing: border-box;
    width: 50%;
    font-size: 2em;
}
.Hero .Text p {
    margin: 50px 0;
}


.SectionCards {
    
    overflow: hidden; /* TODO: clear float properly */
    color: #fff;
    background-color: #7413dc;
}
.SectionCards ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.SectionCards ul li {
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    margin: 0;
    float: left;
    width: 33.33%;
}

.CallOut {
    padding-left: 10px;
    border-left: 1px solid #00A794;
}


@media screen and (max-width: 1020px) {
    
    #HeaderInner {
        width: auto;
        display: block;
    }
    
    #HeaderInner nav ul {
        justify-content: flex-start;
    }
    
    .Hero .Text{
        font-size: 1.5em;
        padding: 0 25px;
    }
    
    .Hero .Text p {
        margin: 25px 0;
    }

}

@media screen and (max-width: 800px) {
    .Hero {
        background-size: cover;
        position: relative;
    }
    .Hero .Text{
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 0 15px;
        background-color: inherit;
        opacity: 0.8;
    }
}
@media screen and (max-width: 650px) {
    #HeaderInner nav ul {
        font-size: 0.8em;
    }
    
    .Hero .Text{
        padding: 0 15px;
    }
    .Hero .Text p {
        margin: 15px 0;
    }
}

@media screen and (max-width: 550px) {
    
    main {
        padding: 0 10px;
    }
    
    .Hero {
        padding-top: 250px;
        background-position: top right;
    }
    
    #HeaderInner {
        position: relative;
        width: auto;
        display: flex;
    }
    #HeaderInner #Logo {
        align-self: center;
        width: 50%;
    }
    
        #HeaderInner #Logo img {
            height: 60px;
        }
    #MenuWrapper {
        width: 50%;
        position: relative;
        align-self: auto;
        padding: 10px 10px 0 0;
    }
    #MenuWrapper nav {
        position: absolute;
        top: 55px;
        right: 0;
        z-index: 1;
        background-color: aliceblue;
    }
    
    #HeaderInner nav ul {
        display: block;
        margin-bottom: 0;
        font-size: 1em;
    }
    #HeaderInner nav ul li a {
        display: block;
        border: 1px solid;
    }
    #ToggleMenu {
        text-align: right;
    }
    #ShowMenu,
    #HideMenu {  
        position: relative;  
        display: inline-block;
        padding: 10px 30px 10px 10px;
        text-decoration: none;
        background-image: url(../Images/icon-compass.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 26px;
    }
    #HideMenu {
        background-image: url(../Images/icon-cancel.png);
    }
    /*#ShowMenu:before,
    #HideMenu:before {
        content: "";
        position: absolute;
        top: 15px;
        right: 10px;
        width: 10px;
        height: 10px;
        border: solid #7413DC;
        border-width: 0 0 2px 2px;
        opacity: 1;
        transform: rotate(-45deg);
        text-decoration: none;
    }*/
    #HideMenu:before {        
        
        top: 20px;
        
        border-width: 2px 2px 0 0;     
    }
    

    #ToggleMenu {
        display: block;
    }
    
    .ShowTheMenu #MainMenu {
        display: block;
    }
    .ShowTheMenu #HideMenu {
        display: inline-block;
    }
    .ShowTheMenu #ShowMenu {
        display: none;
    }
    
    .HideTheMenu #MainMenu {
        display: none;
    }
    .HideTheMenu #HideMenu {
        display: none;
    }
    .HideTheMenu #ShowMenu {
        display: inline-block;
    }
    
}
